<% if @message %>
  <div><%= @message %></div>
<% end %>

<div class="names">
    <%= @player1.name %> vs <%= @player2.name %>
</div>

<div class="player1">
     <%= "#{@player1.hit_points}/60 HP" %>
    <% if @game.turn == @player1  %>
        <a href="/attack?attacked=player2">Attack</a>
    <% end %>
</div>

<div class="player2">
    <%= "#{@player2.hit_points}/60 HP" %>
    <% if @game.turn == @player2  %>
        <a href="/attack?attacked=player1">Attack</a>
    <% end %>
</div>
