<% if @message %>
  <div><%= @message %></div>
<% end %>

<div class="names">
    <%= @player1.name %> vs <%= @player2.name %>
</div>

<div class="player1">
    <%= "#{@player1.hit_points}/60 HP" %>
    <a href="/attack?attacked=player2">Attack</a>
</div>

<div class="player2">
    <%= "#{@player2.hit_points}/60 HP" %>
    <a href="/attack?attacked=player1">Attack</a>
</div>
